h4 {
	color: #0f5ca3;
	font-weight: 400;
}

.subheader {
	padding-bottom: 0.3em;
}

.text-bold {
	font-weight: 700;
}

.hire-now {
	padding: 4px;
	border: 1px solid;
	border-radius: 4px;
	margin-top: 10px;
	display: inline-block;
}

.job {
	display: block;
	font-weight: 600;
}	

.job .job-company:before {	
	content: 'at ';
	font-size: 18px;
}

.job .job-company {	
	padding-right: 6px;
}

.job .job-title {
	display: block;
	color: #999;	
}

.row .two-thirds h3:not(:first-child) {
	margin-top: 3em;	
}
/* .one-third.column h2 { line-height: 0; } */

a.more-details {
    font-size: small;
    font-style: italic;
	color: #666;
	display: block;
}

div.separator {
    height:10px;
    display: block;
}

.details-auto-hide {
    display: none;
}

.details-technical {
	padding: 8px;
	border: 1px dashed #666;
	border-radius: 6px;
}

ul.accomplishments {
    list-style: outside;
}

.label-corner {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 12px;
	float: right;
}

[section='experience'] h3 .date.current span
{
	background-color:#CC3341;
}