body,
html {
  margin: 50px 0;
  font-family: "Dosis", sans-serif;
  font-size: 400;
  font-size: large;
  background-color: rgb(252, 252, 252);
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
  font-weight: 700;
}

h4 {
  text-transform: uppercase;
  margin: 40px 0;
}

a,
a:hover,
a:visited {
  color: orangered;
  text-decoration: none;
}

.left-side {
  border-right: 2px solid #ccc;
  padding-right: 40px;
}

.right-side {
  padding-left: 40px;
}

.horizontal-line {
  margin: 60px 0;
  border: 1px solid #ccc;
}
.position-duration {
  float: right;
}

#profile-pic-section {
  margin-bottom: 100px;
}

#profile-pic-section img {
  filter: grayscale(90%);
}

#skill-list li {
  text-transform: capitalize;
}

.position-highlights {
  color: rgb(102, 102, 102);
  font-size: smaller;
  text-transform: capitalize;
}

#recent-projects-list {
  list-style: none;
  padding: 0;
}

.horizon-spacer {
  margin: 30px;
}
