@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

ul.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.resume-date span {
    display: block;
}