body {
    font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(10px + 0.33vw);
    -webkit-font-smoothing: antialiased;
    padding: 5vh 10vw;
    color: #1D1D1F;
    background-color: #F5F5F7;
    text-rendering: optimizeLegibility;
}

h1 {
    max-width: 500px;
}

p {
    line-height: 1.5;
    max-width: 500px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #06c;
    position: relative;
}

a svg {
    margin-left: 3px;
}

a:hover {
    font-weight: bold;
}

blockquote {
    font-size: 2em;
    margin: 40px 0;
}


blockquote:before {
    color: #1D1D1F;
    content: open-quote;
    line-height: 0.1em;
    vertical-align: -0.4em;
    font-size: 2em;
}

blockquote:after {
    color: #1D1D1F;
    content: close-quote;
    line-height: 0.1em;
    margin-right: 0.25em;
    font-size: 2em;
    vertical-align: -0.4em;
}

@media only screen and (max-width : 600px) {
    blockquote {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }
}


a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid yellow;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}